{% extends "courses/course_detail.html" %}
{% load crispy_forms_tags %}

{% block window_title %}{{ course.name }} - удаление{% endblock window_title %}

{% block top_content %}
    <h1 class="display-4">{{ course.name }}</h1>
    <p class="lead">Хотите полностью удалить курс?</p>
    <form class="mt-5" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-lg">Да</button>
        <a class="btn btn-secondary btn-lg" href="{{ course.get_absolute_url }}">Нет</a>
    </form>
{% endblock top_content %}
