{% extends "./course_list.html" %}

{% block window_title %}Образовательный портал{% endblock window_title %}

{% block top_content %}
    <h1 class="display-4">Образовательный портал</h1>
    <p class="lead">С нами вы приобретете самые актуальные знания и станете востребованным специалистом</p>
    <p><a class="mt-5 btn btn-primary btn-lg" href="{% url 'courses:list' %}">Наши курсы &raquo;</a></p>
{% endblock top_content %}

{% block content %}
    <h2 class="mb-5">Популярные курсы</h2>
    {{ block.super }}
{% endblock content %}